<button 
    (click)="isUserFormVisible = !isUserFormVisible"
    class="btn btn-dark mb-3"
>
    Show user form
</button>

<div
    class="card card-body mb-3"
    *ngIf="isUserFormVisible"
>
    <h2>New User Details</h2>
    <form (submit)="onSubmit($event)">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" [(ngModel)]="newUser.firstName" class="form-control" name="firstName">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" [(ngModel)]="newUser.lastName" class="form-control" name="lastName">
        </div>
        <div class="form-group">
            <label>E-mail</label>
            <input type="text" [(ngModel)]="newUser.email" class="form-control" name="email">
        </div>
        <button (click)="onSaveUserClick()" [disabled]="newUser.firstName == '' || newUser.lastName == ''" class="btn btn-block mb-3">
            Save
        </button>
    </form>
</div>

<h2>Users:</h2>
<ul *ngIf="isLoaded && users?.length > 0" class="list-unstyled">
    <li *ngFor="let user of users" [class.bg-light]="user.isActive" class="card card-body mb-2">
        <div class="container">
            <h3>
                {{user.firstName}}
                {{user.lastName}}
            </h3>
            <small>
                <button class="btn btn-dark btn-sm" (click)="toggleUserHide(user)">
                    <i [ngClass]="user.isHidden ? 'fa fa-plus' : 'fa fa-minus'"></i>
                </button>
            </small>
            <ul *ngIf="!user.isHidden" class="list-group">
                <li class="list-group-item">E-mail:
                    {{ user.email }}
                </li>
                <li class="list-group-item">
                    Joined:
                    {{user.registered | date: "yyyy/mm/dd hh:MM"}}
                </li>
            </ul>
        </div>
    </li>
</ul>

<!-- <ng-template #noUsers>
    <h4>No Users Found</h4>
</ng-template> -->

<h4 *ngIf="users?.length === 0">No users found!</h4>
<h4 *ngIf="!isLoaded">Loading users...</h4>
